body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 400px;
    height: 500px;
}

#popup {
    padding: 4px 6px;
}

#feedback-form {
    display: flex;
    flex-direction: column;
}

#feedback-form input, #feedback-form select {
    margin: 8px;
    width: 90%
}